openapi: 3.0.1
servers:
  - url: https://api.bunnabank.com/v1
info:
  title: Bunna Bank API
  version: 2021.4.2
  x-apisguru-categories:
    - media
  x-logo:
    url: https://logo-core.clearbit.com/spotify.com
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/sonallux/spotify-web-api/master/spotify-web-api-generator-open-api/spotify-web-api-openapi.yml
      version: "3.0"
  x-providerName: bunnabank.com
  x-unofficialSpec: true
externalDocs:
  description: Find more info on the official Spotify Web API Reference
  url: https://developer.spotify.com/documentation/web-api/reference
tags:
  - description: customer API
    externalDocs:
      description: Find more info on the official Bunna Bank Web API Reference
      url: https://developer.spotify.com/documentation/web-api/reference/#category-albums
    name: customer-detail
 

paths:
  /accounts:
    get:
      description: Get Customer Information by Phone Number.
      externalDocs:
        description: Before committing any transaction to the accounts, it is necessary to fetch their information first. Customers can check their accounts list and choose one. Customers' information is indexed with unique IDs representing each on the core banking system. 
      operationId: endpoint-get-customer-info-byphoneNumber
      parameters:
        - description: A valid user access token or your client credentials.
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: "The customer’s phone number: could be +251932245515, 0932245515, or even 932245515. "
          in: query
          name: phoneNumber
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumsObject"
          description: >-
            On success, the HTTP status code in the response header is `200` OK
            and the response body contains an object whose key is `"accounts"` and
            whose value is an array of in JSON format.
            Objects are returned in the order requested. If an object is not found, a `null` value is returned in the appropriate position. Duplicate `ids` in the query will result in duplicate objects in the response. On error, the header status code is an [error code](https://developer.spotify.com/documentation/web-api/#response-status-codes) and the response body contains an [error object](https://developer.spotify.com/documentation/web-api/#response-schema).
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - bunnabank_auth: []
      summary: Get List of account
      tags:
        - customer-detail
        
  "/account/{phoneNo}":
    get:
      description: Get account Detail by phone number.
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference/#endpoint-get-an-album
      operationId: endpoint-get-an-album
      parameters:
        - description: A valid user access token or your client credentials.
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: The Spotify ID of the album.
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The market you'd like to request. Synonym for `country`.
          in: query
          name: market
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumObject"
          description: On success, the HTTP status code in the response header is 200 OK
            and the response body contains an album object in JSON format. On
            error, the header status code is an error code and the response body
            contains an error object.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - bunnabank_auth: []
      summary: Get Account Detial
      tags:
        - customer-detail

components:
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponseObject"
      description: Unexpected error

  schemas:
    AlbumObject:
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference/#object-albumobject
      properties:
        account_number:
          description: "The type of the album: `album`, `single`, or `compilation`."
          type: string
        artists:
          description: The artists of the album. Each artist object includes a link in
            `href` to more detailed information about the artist.
          type: array
        account_name:
          description: "The markets in which the album is available: [ISO 3166-1 alpha-2
            country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
            Note that an album is considered available in a market when at least
            1 of its tracks is available in that market."
          items:
            type: string
          type: array
        genres:
          description: 'A list of the genres used to classify the album. For example:
            "Prog Rock" , "Post-Grunge". (If not yet classified, the array is
            empty.)'
          items:
            type: string
          type: array        
        type:
          description: 'The object type: "album"'
          type: string
        uri:
          description: The Spotify URI for the album.
          type: string
      type: object
    AlbumsObject:
      properties:
        accounts:
          description: ""
          items:
            $ref: "#/components/schemas/AlbumObject"
          type: array
      type: object
    ArtistObject:
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference/#object-artistobject
      properties:
        genres:
          description: 'A list of the genres the artist is associated with. For example:
            `"Prog Rock"` , `"Post-Grunge"`. (If not yet classified, the array
            is empty.)'
          items:
            type: string
          type: array
        href:
          description: A link to the Web API endpoint providing full details of the artist.
          type: string
        id:
          description: The [Spotify
            ID](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)
            for the artist.
          type: string
        name:
          description: The name of the artist.
          type: string
        popularity:
          description: The popularity of the artist. The value will be between 0 and 100,
            with 100 being the most popular. The artist's popularity is
            calculated from the popularity of all the artist's tracks.
          format: int32
          type: integer
        type:
          description: 'The object type: `"artist"`'
          type: string
        uri:
          description: The [Spotify
            URI](https://developer.spotify.com/documentation/web-api/#spotify-uris-and-ids)
            for the artist.
          type: string
      type: object

    ErrorResponseObject:
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"
      type: object

    ErrorObject:
      externalDocs:
        description: Find more info on the official Spotify Web API Reference
        url: https://developer.spotify.com/documentation/web-api/reference/#object-errorobject
      properties:
        message:
          description: A short description of the cause of the error.
          type: string
        status:
          description: The HTTP status code (also returned in the response header; see
            [Response Status
            Codes](https://developer.spotify.com/documentation/web-api/#response-status-codes)
            for more information).
          format: int32
          type: integer
      type: object

  securitySchemes:
    bunnabank_auth:
      flows:
        authorizationCode:
          authorizationUrl: http://localhost:8083/api/account/cardReq/authorize
          scopes:
            accounts-read-by-phone: Read list of user’s bank accounts (account numbers, balances).
            accounts-read-by-phone-list: Read list of user’s bank accounts (account numbers, balances).
            balances-read-by-phone: Read transactions for user’s accounts.   
          tokenUrl: hhttp://localhost:8083/api/token
      type: oauth2
